.ReviewForm {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.name_Review{
    border-radius: 5px;
    height: 20px;
    /* margin-top: 15px; */
    /* margin-left: 15px; */
}

.text_Review{
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width: 96%;
    min-height: 50px;
}

.add__btn{
    display: block;
    border-radius: 5px;
    margin: 15px;
    margin-left: auto;
}

#headerReviewForm{
    margin: 15px;
    display: flex;
}