.rate_review{
    display: flex;
}




.oneFilm {
    display: flex;
    /* flex-direction: row; */
    
    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;

}

.oneFilmBig {
    flex-direction: column; 
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.list_container {
    
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    margin: 15px;
    
}
.films.title{
    text-align: center;
}

.films_posterLink {
    object-fit:cover;
    height: 100%;
    width: 200px;
}
.desc_container {
    margin: 15px;
    width: 100%;
    
}
