

#buttone_rating{
    border-radius: 50%;
}


#stars{
    height: 45px;
    /* border: 1px solid black;  */
}

#silverStars{
    /* border: 1px solid black;  */
    position: absolute;
    
}

#goldenStars{
    /* border: 1px solid black;  */
    position: relative;

}

.spanRating{
    width: 3%;
    
}

.rating_buttons {
    display:flex;
    margin-left: 15px;
}



.star_IMG{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    /* fill:rgb(200, 38, 38); */
    /* filter:  sepia(1); */

}
.gold_star_IMG{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    /* fill:rgb(200, 38, 38); */
    filter:sepia(1);
    

}

/* 
<filter id="myFilter">
  <feColorMatrix in="SourceGraphic"
    type="matrix"
    values="2 1 0 0 0
            1 1 0 0 0
            1 1 0 0 0
            0 0 0 1 0" />
</filter> */
/* 255 171 74 */
/* 100% красного, 67.06% зеленого и 29.02% синего */
/* #ffab4a; */