.ReviewForm {
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    
}

.name_Review{
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.text_Review{
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width: 96%;
    min-height: 50px;
}

.add__btn{
    
    border-radius: 5px;
    margin: 15px;
}